.scrollToTopButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: var(--color-primary);
  color: #1c1b1f;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: pointer;
}

.scrollToTopButton.visible {
  opacity: 1;
}
