/*
Variable name:
--color-primary
--color-card
--color-button
--color-button-lang
--color-font-primary
--color-font-secondary
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

#__next {
  display: flex;
  flex-direction: column;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}

h3 {
  font-size: calc(1.25rem + 0.6vw);
}

h4 {
  font-size: 1.1rem;
}

h5,
h6 {
  font-size: 1rem;
}

button,
p,
a {
  line-height: 1.5;
}

button,
a {
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
}

button {
  display: inline-block;
  border: none;
  cursor: pointer;
}

label {
  display: inline-block;
}

/* Input, Select, Textarea */
input,
select,
textarea {
  font-size: 1rem;
}

.bg-color-primary {
  background-color: var(--color-primary);
}

.bg-card {
  background: var(--color-card);
}

.bg-button {
  background: var(--color-button);
}

.bg-button-lang {
  background: var(--color-button-lang);
}

.font-color-primary {
  color: var(--color-font-primary);
}

.font-color-secondary {
  color: var(--color-font-secondary);
}

.button-transition {
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.button-transition:hover {
  transform: translateY(-3px) scale(1.01);
  -webkit-transform: translateY(-3px) scale(1.01);
  -moz-transform: translateY(-3px) scale(1.01);
  -ms-transform: translateY(-3px) scale(1.01);
  -o-transform: translateY(-3px) scale(1.01);
}

.button__help {
  background-color: transparent;
  color: var(--color-font-primary);
}

.button__help:hover {
  background-color: #898989;
  color: var(--color-font-secondary);
}

.button__donate {
  background-color: var(--color-button);
  color: var(--color-font-secondary);
}

.button__donate:hover {
  background-color: #000000;
}

.sections-slides {
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 5px;
}

@media (width >=940px) {
  .sections-slides {
    margin: 25px 0 60px 45px;
    gap: 40px;
    padding: 0;
  }
}
