/*
Variable name:
--color-primary
--color-card
--color-button
--color-button-lang
--color-font-primary
--color-font-secondary
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*
{
  font-family: 'Roboto', sans-serif;
}

.bg-color-primary {
  background-color: var(--color-primary);
}

.bg-card {
  background: var(--color-card);
}

.bg-button {
  background: var(--color-button);
}

.bg-button-lang {
  background: var(--color-button-lang);
}

.font-color-primary {
  color: var(--color-font-primary);
}

.font-color-secondary {
  color: var(--color-font-secondary);
}

.button-transition {
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.button-transition:hover {
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
}
