/*
Variable name:
--color-primary
--color-card
--color-button
--color-button-lang
--color-font-primary
--color-font-secondary
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.bg-color-primary {
  background-color: var(--color-primary);
}

.bg-card {
  background: var(--color-card);
}

.bg-button {
  background: var(--color-button);
}

.bg-button-lang {
  background: var(--color-button-lang);
}

.font-color-primary {
  color: var(--color-font-primary);
}

.font-color-secondary {
  color: var(--color-font-secondary);
}

.button-transition {
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.button-transition:hover {
  transform: translateY(-3px) scale(1.01);
  -webkit-transform: translateY(-3px) scale(1.01);
  -moz-transform: translateY(-3px) scale(1.01);
  -ms-transform: translateY(-3px) scale(1.01);
  -o-transform: translateY(-3px) scale(1.01);
}

.sections-slides {
  margin: 15px 0 45px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 5px;
}

@media (width >=940px) {
  .sections-slides {
    margin: 25px 0 60px 45px;
    gap: 40px;
    padding: 0;
  }
}

#__next {
  display: flex;
  flex-direction: column;
}
