header
{
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    background: #f1f1f1;
}

.container
{
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .logo
{
    width: 60px;
    height: 60px;
}

nav .logo-2
{
    display: none;
}

.container .logo img
{
    width: 100%;
    height: 100%;
}

.nav
{
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav__menu-bar
{
    display: none;
}

.nav__menu-list
{
    display: flex;
    flex-direction: row;
    position: unset;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
}

.nav__link
{
    font-size: 20px;
    text-decoration: none;
    position: relative;
    color: #000;
    transition: all .3s;
}

.nav__link:hover
{
    color: #000;
    font-weight: bold;
}

.nav__link::before
{
    content: "";
    position: absolute;
    width: 0;
    bottom: -10px;
    left: 0;
    height: 3px;
    transition: all .3s;
    background: #000;
}

.nav__link:hover::before
{
    width: 100%;
}

/* ******************* Buttons ******************************* */
.buttons
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn_help
{
    background: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    font-size: 1.2rem;
    transition: all .3s;
}

.btn_help:hover
{
    background: #2a2a2a;
    border-color: #2a2a2a;
    color: #fff;
    transition: all .3s;
}

.btn_volunteer
{
    background: #2a2a2a;
    border: 2px solid #2a2a2a;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    font-size: 1.2rem;
    color: #fff;
    transition: all .3s;
}

.btn_volunteer:hover
{
    background: #fff;
    border-color: #000;
    color: #000;
    transition: all .3s;
}

/* ********************* Switch ************************************ */
.wrap-toggle
{
    margin-left: 1em;
}

input[type=checkbox]#switcher
{
    display: none;
}

input[type=checkbox]#switcher + .check
{
    display: inline-block;
    height: 40px;
    width: 100px;
    position: relative;
    font-size: 20px;
    border: 4px solid #fff;
    padding: 0;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
    transition: all .3s ease;
}

input[type=checkbox]#switcher + .check::before
{
    position: absolute;
    top: 3px;
    height: 25px;
    width: 25px;
    content: "";
    transition: all .3s ease;
    z-index: 3;
}

input[type=checkbox]#switcher + .check::after
{
    position: absolute;
    top: 3px;
    height: 25px;
    width: 25px;
    content: "";
    transition: all .3s ease;
    z-index: 3;
}

input[type=checkbox]#switcher + .check::after
{
    width: 60px;
    text-align: center;
    z-index: 2;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    text-overflow: ellipsis;
    overflow: hidden;
}

input[type=checkbox]#switcher:not(:checked)+label
{
    background: rgb(34, 193, 195);
    border-color: rgb(34, 193, 195);
    text-align: right;
}

input[type=checkbox]#switcher:not(:checked)+label::after
{
    content: attr(data-unchecked);
    right: 0;
    left: auto;
    opacity: 1;
    color: #fff;
}

input[type=checkbox]#switcher:not(:checked)+label::before
{
    left: 4px;
    background: #fff;
}

input[type=checkbox]#switcher:checked+.check
{
    text-align: left;
    background: rgb(2, 0, 36);
    border-color: rgb(2, 0, 36);
}

input[type=checkbox]#switcher:checked+.check::after
{
    content: attr(data-checked);
    left: 4px;
    right: auto;
    opacity: 1;
    color: #fff;
}

input[type=checkbox]#switcher:checked+.check::before
{
    left: 60px;
    background: #fff;
}

/* ************************************* medias querys **************************************************** */
@media screen and (max-width: 958px)
{
    /* *************************** Menu ********************************************************** */
    .container .logo
    {
        display: none;
    }

    nav .logo-2
    {
        display: block;
        width: 50px;
        height: 50px;
    }

    nav .logo-2 a img
    {
        width: 100%;
        height: 100%;
    }

    .nav__menu-bar
    {
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 6px;
        cursor: pointer;
    }

    .nav__menu-bar div
    {
        width: 40px;
        height: 4px;
        background: #000;
        border-radius: 2px;
    }

    .nav__menu-list
    {
        flex-direction: column;
        align-items: start;
        position: fixed;
        top: 75px;
        width: 288px;
        row-gap: 24px;
        padding: 24px 24px;
        left: -288px;
        min-height: calc(100% - 60px);
        background: #eee;
        transition: all .3s;
    }

    .nav__menu-list div
    {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .nav__menu-list div a
    {
        margin: 0 15px;
    }

    .nav__menu-list div:hover
    {
        background: rgba(0, 0, 0, .6);
        font-weight: bold;
        color: #000;
    }

    .nav__menu-list.active
    {
        left: 0;
    }

    .nav__link
    {
        font-size: 18px;
        position: relative;
        transition: all .3s;
    }

    .nav__link:hover::before
    {
        width: 0;
    }

    /* *********************** Buttons ************************************ */
    .btn_help,
    .btn_volunteer
    {
        width: 120px;
        height: 40px;
        font-size: 1.1rem;
    }
}