.switcher {
  display: none;
}

/* SwitcherLanguage.module.css */

@media (width >= 640px) {
  .switcher {
    overflow-x: hidden;
    align-self: center;
    display: inline-block;
    position: relative;
    height: 36px;
  }

  .switcher > * {
    width: 11rem;
  }

  /* .switcher__input {
    display: none;
  }

  .switcher__label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-button-lang);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }

  .switcher__input:checked + .switcher__label {
    background-color: #ffffff;
  }

  .switcher__text {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-font-secondary);
  }

  .switcher__input:checked + .switcher__label > .switcher__text {
    color: var(--color-font-primary);
  }

  .switcher__text--lang1 {
    margin-left: 4px;
  }

  .switcher__text--lang2 {
    margin-right: 2px;
  }

  .switcher__label::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 8px;
    transition-property: transform, background-color;
    transition: 0.3s ease;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
  }

  .switcher__input:checked + .switcher__label::before {
    background-color: var(--color-button-lang);
    transform: translateX(40px);
    -webkit-transform: translateX(40px);
    -moz-transform: translateX(40px);
    -ms-transform: translateX(40px);
    -o-transform: translateX(40px);
  } */
}
