.card {
  min-width: 280px;
  background: var(--color-card);
  padding: 15px;
  color: var(--color-font-secondary);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.card__title {
  margin-bottom: 20px;
  text-align: center;
}

.card__description {
  text-align: justify;
}

@media (width >= 640px) {
  .card {
    padding: 20px;
  }
}

@media (width >= 940px) {
  .card {
    max-width: 500px;
    padding: 30px;
  }

  .card__description {
    font-size: 20px;
  }
}
