.news__collaborate {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0 15px;
}

.collaborate__title {
  margin: 0;
  text-align: center;
}

.collaborate__link {
  padding: 5px 0;
  width: 150px;
  color: var(--color-font-secondary);
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.collaborate__link:hover {
  color: var(--color-font-secondary);
  font-weight: 700;
}

@media (width >= 425px) {
  .news__collaborate {
    flex-direction: row;
    justify-content: end;
  }
}

@media (width >= 640px) {
  .news__collaborate {
    gap: 20px;
    padding: 0 15px;
  }

  .collaborate__link {
    padding: 7px;
  }
}
