header
{
  background: #d9d9d9;
}

#buttons
{
  margin-left: 1.2em;
}

/*********** Switch ********************/
#wrap-toggle
{
  margin-left: 1em;
}

input[type=checkbox]#switcher
{
  display: none;
}

input[type=checkbox]#switcher + .check
{
  display: inline-block;
  height: 40px;
  width: 100px;
  position: relative;
  font-size: 20px;
  border: 4px solid white;
  padding: 0;
  margin: 0;
  cursor: pointer;
  box-sizing: border-box;
  transition: all .3s ease;
}

input[type=checkbox]#switcher + .check::before
{
  position: absolute;
  top: 3px;
  height: 25px;
  width: 25px;
  content: "";
  transition: all .3s ease;
  z-index: 3;
}

input[type=checkbox]#switcher + .check::after
{
  position: absolute;
  top: 3px;
  height: 25px;
  width: 25px;
  content: "";
  transition: all .3s ease;
  z-index: 3;
}

input[type=checkbox]#switcher + .check::after
{
  width: 60px;
  text-align: center;
  z-index: 2;
  text-transform: uppercase;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  text-overflow: ellipsis;
  overflow: hidden;
}

input[type=checkbox]#switcher:not(:checked)+label
{
  background-color: rgb(34, 193, 195);
  border-color: rgb(34, 193, 195);
  text-align: right;
}

input[type=checkbox]#switcher:not(:checked)+label::after
{
  content: attr(data-unchecked);
  right: 0;
  left: auto;
  opacity: 1;
  color: white;
}

input[type=checkbox]#switcher:not(:checked)+label::before
{
  left: 4px;
  background-color: white;
}

input[type=checkbox]#switcher:checked+.check
{
  text-align: left;
  border-color: rgb(2, 0, 36);
  background-color: rgb(2, 0, 36);
}

input[type=checkbox]#switcher:checked+.check::after
{
  content: attr(data-checked);
  left: 4px;
  right: auto;
  opacity: 1;
  color: white;
}

input[type=checkbox]#switcher:checked+.check::before
{
  left: 60px;
  background-color: #fff;
}
/* *************************************** */