.slide__title {
  margin-left: 15px;
}

.slide {
  display: flex;
  height: 230px;
  gap: 16px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  overflow-y: hidden;
  padding: 15px;
}

.content-center {
  justify-content: center;
  gap: 20px;
}
