.accordion {
  width: 100%;
  margin: 0 auto;
}

.accordion__title,
.content__description {
  background-color: var(--color-card);
  color: var(--color-font-secondary);
  position: relative;
}

.accordion__title {
  cursor: pointer;
  margin-bottom: 0;
  padding: 8px 16px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.accordion__title::before {
  content: "\2B9F";
  color: var(--color-font-secondary);
  position: absolute;
  top: 50%;
  right: 16px;
  font-size: 25px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.accordion__title-active::before {
  content: "\2B9D";
}

.content__description {
  overflow: hidden;
  text-align: justify;
  margin-top: 0.5rem;
  transition: max-height 0.4s ease-in-out, opacity 0.5s ease-in-out;
  -webkit-transition: max-height 0.4s ease-in-out, opacity 0.5s ease-in-out;
  -moz-transition: max-height 0.4s ease-in-out, opacity 0.5s ease-in-out;
  -ms-transition: max-height 0.4s ease-in-out, opacity 0.5s ease-in-out;
  -o-transition: max-height 0.4s ease-in-out, opacity 0.5s ease-in-out;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.description {
  margin: 0;
  padding: 8px 16px;
}
